body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #eff0f0;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
}
ul,
li,
a,
p,
h1,
h2,
h3 {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}
